<div class="conatiner p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3 class="text-uppercase">EDITANDO UNA COMPRA</h3>
                </div>
                <div class="card-body">
                    <form action="/compraeditar/{{compras.id_com}}" method="post">
                    <div class="input-group mt-2">
                        <label for="persona" class="input-group-text">Persona:</label>
                        <select class="form-select" aria-label="Default select example" id="id_p_com" name="id_p_com">
                            {{#if personas}}
                                {{#each personas}}
                                <option value="{{id}}">{{name}}</option>
                                {{/each}}
                            {{/if}}
                        </select>
                    </div>
                    <script>
                        var tipop = "{{compra.id_p_com}}";
                        var tipopro = "{{compra.id_pro_com}}";
                        const selectx = document.getElementById('id_p_com');
                        for (let i=0; i < selectx.options.length; i++) {
                            if (selectx.options[i].value === tipop) {
                                selectx.options[i].selected = true;
                            } else {
                                selectx.options[i].selected = false;
                            }
                        }

                        const selectpro = document.getElementById('id_pro_com');
                        for (let i=0; i < selectpro.options.length; i++) {
                            if (selectpro.options[i].value === tipopro) {
                                selectpro.options[i].selected = true;
                            } else {
                                selectpro.options[i].selected = false;
                            }
                        }
                    </script>
                    <div class="input-group mt-2">
                        <label for="producto" class="input-group-text">Producto:</label>
                        <select class="form-select" aria-label="Default select example" id="id_pro_com" name="id_pro_com">
                            {{#if productos}}
                                {{#each productos}}
                                <option value="{{id_pro}}">{{nombre_pro}}</option>
                                {{/each}}
                            {{/if}}
                        </select>
                    <div class="input-group mt-2">
                        <label for="cantidad" class="input-group-text">Cantidad</label>
                        <input class="form-control" type="number" name="cantidad_com" id="cantidad_com" autofocus required value="{{compras.cantidad_com}}">
                    </div>
                    <div class="input-group mt-2">
                        <label for="fecha_com" class="input-group-text">Fecha</label>
                        <input class="form-control" type="date" name="fecha_com" id="fecha_com" required value="{{compras.fecha}}">
                    </div>
                    </div>
                    <div class="form-group mt-4 d-grid gap-2">
                        <button class="btn btn-success"> Actualizar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>